<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Piotr coding</title>
<!--    <link href="{% static 'products/main.css' %}" rel="stylesheet" type="text/css" />-->

<!--    <link href="{{ STATIC_URL }}main.css" rel="stylesheet" type="text/css" />-->

</head>
<body class="bg-dark.bg-gradient">

{% include "navbar.html" %}

{% comment %}
    {{ STATIC_URL }}main.css
    {% include 'navbar.html' %}
{% endcomment %}

    <div class="box_list">
        {% block content %}
        This text will be replaced
        {% endblock %}
    </div>
    {% block content2 %}
    {% endblock %}

    {% block content3 %}
    {% endblock %}

</body>
</html>