<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <div class="container-fluid">

    <span class="navbar-brand">Humidity plotter</span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav mx-auto me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about_program' %}">About the page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about_author' %}">Author</a>
        </li>

        {% comment %}
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        {% endcomment %}

      </ul>

    </div>
  </div>
</nav>